body {
    margin: 0;
    background-color: white;
    padding-left: 0;
    padding-right: 0;
    overflow-y: scroll;
    /* 여기 위에 오버플로우를 넣어서 우측에 사이드바(스크롤바)를 항시 보이게 해놓음. 안그러면 뭔가를 타이핑할때마다 나타났다 말았다해서 */
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}